AIRFLOW_UID=1000

# IoT Snowflake credentials
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=IOT_TRANSFORMER
SNOWFLAKE_WAREHOUSE=IOT_WH
SNOWFLAKE_DATABASE=IOT_PIPELINE

# Banking Snowflake credentials
BANKING_SNOWFLAKE_ACCOUNT=
BANKING_SNOWFLAKE_USER=
BANKING_SNOWFLAKE_ROLE=BANKING_PIPELINE_ROLE
BANKING_SNOWFLAKE_WAREHOUSE=BANKING_WH
BANKING_SNOWFLAKE_DATABASE=BANKING_DV

# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
